/* build time:Mon Jan 15 2024 18:08:27 GMT+0800 (GMT+08:00)*/
*,::after,::before{margin:0;padding:0;box-sizing:border-box}html{font-size:$rem}body{width:100%;height:100%;font-family:$font-family;background:$color-white;color:$color-black-2;-webkit-font-smoothing:antialiased}a{color:currentColor}
/* rebuild by neat */